.container{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    gap: 25px;
}

.container h2{
    color: white;
    font-size: 50px;
    text-align: center;
}

.info{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    gap: 30px;
    color: white;
    font-size: 30px;
    width: 80%;
}

.info img{
    width: 80%;
    object-fit: cover;
}